extends: wordpress
parserOptions:
  ecmaVersion: 6
env:
  es6: true
  node: true
rules:
  # removed rules
  no-empty-label: 0
  space-after-keywords: 0
  space-return-throw-case: 0
  # new versions of removed rules
  keyword-spacing: [ "error", { "before": true } ]
  no-labels: [ "error" ]
  # overrides
  dot-location: [ "error", "property" ]
  indent: [ "error", 2 ]
  max-statements-per-line: [ "error", { "max": 2 } ]
  no-console: 0
  no-var: [ "error" ]
  one-var: [ "error", "never" ]
  quote-props: 0
